[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = PerpetualCreativity
	email = 47309279+PerpetualCreativity@users.noreply.github.com
[diff]
	external = difft --parse-error-limit 20
[core]
	editor = hx
	excludesFile = ~/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[rerere]
	enabled = true
[help]
	autocorrect = 5

[merge]
	conflictstyle = diff3
