[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = PerpetualCreativity
	email = 47309279+PerpetualCreativity@users.noreply.github.com
[diff]
	tool = vimdiff
[core]
	editor = vim
[color]
	ui = true

[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
